body {
    background-color: #2d3e50;
    font-family: Helvetica, Arial, Verdana;
}

header {
    background-color: #2d3e50;
    color:white;
    text-align:center;
    padding:3px;
    width: 100%;
    font-size: 18px;
    text-shadow: -2px -3px 3px #666666;
    letter-spacing: 0.15em;
    font-style: bold;
    }

article {
    z-index: 100;
    /*box-shadow:*/
    /*0px 0px 0px 10px rgba(255,255,255,1),*/
    /*1px 1px 3px 10px rgba(0,0,0,0.2);*/
    transition: opacity 0.4s linear, transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

article.blur {
    /*box-shadow: 0px 0px 20px 10px rgba(255,255,255,1);*/
    transform: scale (0.9);
    opacity: 0.6;
}

article.active {
    transform: scale(1.05);
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1),
                1px 11px 15px 10px rgba(0,0,0,0,4);
    z-index: 100;
    opacity: 1;
}



.small_container {
   display: flex;
   /*display was flex*/
   width: 100%;
   border: 2px solid #2d3e50;
   padding: 0px;
   background-color: #90b4d6;
   font-size: 18px;
   text-shadow: -1px -1px 1px #666666;
   letter-spacing: 0.10em;
   font-style: bold;
   position: relative;
   /*float: right;*/
   }


.pad
{
}

.info
{
   display: inline;
   text-align: center;
   margin: auto;
   font-size: 30px;
   float: right;
   width: 600px;

}

#kalliePic {
  background-image: url(../../img/kalliepic1-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#farhadPic {
  background-image: url(../..img/farhadpic1-400x400.jpg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#matejaPic {
  background-image: url(../../img/matejapic2-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
/*portions of this code were modified and adapted from */
/*http://tympanus.net/codrops/2011/12/14/item-blur-effect-with-css3-and-jquery/*/
}

a {
  text-decoration: none;
  color: white;
}
