header {
    background-color:black;
    color:white;
    text-align:center;
<<<<<<< HEAD
    padding:3px;
    width: 100%;
    }

.container
{
   display: inline-flex;
   width: 100%;
   border: 2px solid black;
   padding: 1px;
}

.pad
{
}

.info
{
   display: inline;
   text-align: center;
   margin: auto;
   font-size: 30px;

}

#kalliePic {
  background-image: url(pics/kalliepic1-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#farhadPic {
  background-image: url(pics/farhadpic1-400x400.jpg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#matejaPic {
  background-image: url(pics/matejapic2-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}
=======
    padding:5px;
    }

div  {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    }

    #kalliePic {
      background-image: url(pics/kalliepic1.jpg);
      background-size: 100%;
    }

    #farhadPic {
      background-image: url(pics/farhadpic1.jpg);
      background-size: 100%;
    }

    #matejaPic {
      background-image: url(pics/matejapic2.jpg);
      background-size: 100%;
    }

>>>>>>> 3efa3f001c48ff61716f9ddf6dec0adcc9668566
