header {
    background-color:black;
    color:white;
    text-align:center;
    padding:3px;
    width: 100%;
    }

.container
{
   display: inline-flex;
   width: 100%;
   border: 2px solid black;
   padding: 1px;
}

.pad
{
}

.info
{
   display: inline;
   text-align: center;
   margin: auto;
   font-size: 30px;

}

#kalliePic {
  background-image: url(pics/kalliepic1-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#farhadPic {
  background-image: url(pics/farhadpic1-400x400.jpg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

#matejaPic {
  background-image: url(pics/matejapic2-400x400.jpeg);
  background-repeat: no-repeat;
  background-size: 400px 400px;
}
